  
<h3><%- title %></h3>
<br>
<div class="row">
  <div class="col m6 push-m3 s12">
    <div class="card">
      <%- include('../part/loader'); %>  
      <div class="card-image">
        <img id="img_src">
        <span class="card-title"><%- pro.name %>  </span>
        
      </div>
      <div class="card-content">
        <p id="content"> contant :</p>
        <div id="cost">cost :</div>
        
      </div>
      <div class="card-action">
        <a class="btn-floating halfway waves-effect waves-light tooltipped"
            href="/admin/productAdmin"  
            data-position="bottom" 
            data-tooltip="חזור"><i class="material-icons">undo </i></a>
        <a class="btn-floating halfway waves-effect waves-light tooltipped"
            data-position="bottom"
            href="#" 
            data-tooltip="מחק מוצר זה"><i class="material-icons">delete </i></a>
        <a class="btn-floating halfway waves-effect waves-light tooltipped"
            data-position="bottom" 
            href="#"
            data-tooltip="ערוך מוצר זה"><i class="material-icons">add</i></a>
      </div>
    </div>
  </div>
</div>
<script>
  let itemPro = '<%= pro.id %>';
</script>
<script src="/script/loader.js"></script>
<script src="/script/get_data.js"></script>
<script src="/script/product/product_item.js"></script>
<script src="/script/error.js"></script>