<h3>wellcome to maffe maale</h3>
<%- include ('./part/messege') %>
<div id="carusel"> </div>
<h1>covid19</h1>

    <table class="centered responsive-table">
        <thead>
            <tr>
                <th>מדינה</th>
                <th>מקרים חדשים</th>
                <th>חולים פעילים</th>
                <th>במצב קריטי</th>
                <th>החלימו</th>
                <th>סה"כ חולים</th>
                <th>מוות חדשים</th>
                <th>סה"כ מקרי מוות</th>
                <th>סה"כ נבדקו</th>
                <th>עודכן ביום</th>
                <th>בשעה</th>
            </tr>
        </thead>
        <%- include('./part/loader'); %>   
        <tbody id='covid'></tbody>
    </table>
<script src="script/loader.js"></script>
<script src="script/main.js"></script>
 