  
<h3><%- title %></h3>
<br>
<div class="row">
  <div class="col l2 m2"></div>
  <div class="col l8 s12 m8">
    <div class="card">
      <%- include('part/loader'); %>  
      <div class="card-image">
        <img id="img_src">
        <span class="card-title"><%- pro.name %>  </span>
      </div>
      <div class="card-content">
        <p id="content"> contant :</p>
        <div id="cost">cost :</div>
        
      </div>
      <div class="card-action">
        <a href="/product">back</a>
      </div>
    </div>
  </div>
  <div class="col l2 m2"></div>
</div>
<script>
  let itemPro = '<%= pro.id %>';
</script>
<script src="/script/loader.js"></script>
<script src="/script/get_data.js"></script>
<script src="/script/product/product_item.js"></script>
<script src="/script/error.js"></script>