<header>
  <div class="navbar-fixed" id="header_for_scroll">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">MAFFE MAALE</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/customer"> לקוחות </a></li>
          <li><a href="/product"> מוצרים </a></li>
          <li><a href="/recipes"> מתכונים </a></li>
        </ul>
      </div>
    </nav>
  </div> 
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/customer"> לקוחות </a></li>
    <li><a href="/product"> מוצרים </a></li>
    <li><a href="/recipes"> מתכונים </a></li>
  </ul>
  
</header>