<div id="panel_side" class="col s0 m2 not-mobile">
  <ul>
    <li><a href="/admin/customer"> לקוחות </a><i class="aa material-icons secondary-content">people_outline</i></li>
    <li><a href="/admin/productAdmin"> מוצרים </a><i class="aa material-icons secondary-content">room_service</i></li>
    <li><a href="/admin/recipes"> מתכונים </a><i class="aa material-icons secondary-content">restaurant_menu</i></li>
    <li><a href="/admin/logs"> logs </a><i class="aa material-icons secondary-content">format_align_right</i></li> 
  </ul>
</div>
 
<div class="fixed-action-btn just-mobile">
  <a class="btn-floating btn-large ">
    <i class="large material-icons">more_horiz</i>
  </a>
  <ul>
    <div class="wait">customer</div>
    <li><a class="btn-floating" href="/admin/customer"><i class="material-icons">people_outline</i></a></li>
    <div class="wait">product</div>
    <li><a class="btn-floating" href="/admin/productAdmin"><i class="material-icons">room_service</i></a></li>
    <div class="wait">recipes</div>
    <li><a class="btn-floating" href="/admin/recipes"><i class="material-icons">restaurant_menu</i></a></li>
    <div class="wait">logs</div>
    <li><a class="btn-floating" href="/admin/logs"><i class="material-icons">format_align_right</i></a></li>
  </ul>
</div>
