<h3>רשימת מוצרים</h3>      
<%- include('./loader'); %> 
<link type="text/css" rel="stylesheet" href="css/tablesort.css">
<div id="error">ERROR : </div>
<div class="row">
  <div class="">
      <table id="product-table" class="centered left  responsive-table highlight">
        <thead class="table-header">
          <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th> a</th>
          </tr>  
        </thead>
        <tbody id="table"></tbody>  
    </table>
  </div>
</div>
<script src='script/tablesort.min.js'></script>
<script src='script/sorts/tablesort.number.min.js'></script>

